.nav {
    width: 98%;
    height: 5%;
    background-color: #dfdfdf;
    border-left: #0b0b0b 1px solid;  
    border-right: #0b0b0b 1px solid; 
    border-top: #0b0b0b 1px solid;  
    border-bottom: #0b0b0b 1px solid;
    border-collapse: collapse;
    position:absolute;
    top: 0;
    }
.nav_inline{
    display: inline-block;
    width:5%; 
    height:100%; 
    position: relative;
    left: 5%; 
    top: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #d3d2cf;
    box-shadow: inset 0px 0px 10px #5b5b5b;
    }
    