<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--以下是外部导入的css文件-->

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./style-nav.css">
 
    <link rel="stylesheet" href="{{ url_for('static', path='style-nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    
 
</head>
<body>
    <!-- 功能区，以下是html文件 -->
    <div class="func">
        
         
         

        <div class="box-left">
            <select name="name-left" id="name-left" size="1">
                 
                <option value="1">预处理</option>
                <option value="2">可视化</option>
                <option value="3">统计分析</option>
                <option value="4">无监督</option>
                <option value="5">有监督</option>
                 
            </select>
             <button class="choice" style="display:block;" id="choice1" draggable="true">算法一</button>
             <button class="choice" style="display:none;" id="choice2" draggable="true">算法二</button>
             <button class="choice" style="display:none;" id="choice3" draggable="true">算法三</button>
             <button class="choice" style="display:none;" id="choice4" draggable="true">算法四</button>
             <button class="choice" style="display:none;" id="choice5" draggable="true">算法五</button>
         <!-- 这里可以添加更多的算法n按钮，和上面的格式一致 -->
        </div>

        <div class="box-right">
            <div class="name-right"><p>上传新数据</p></div>
            <table class="data">
                <tr>
                    <td>icon</td>
                    <td>名称</td>
                </tr>
                <tr>
                    <td></td>
                    <td>编号</td>
                </tr>
            </table>



        </div>

        <div class="box-middle">
            <button class="icon"><p>add</p></button>
            <button class="icon"><p>delete</p></button>
            <button class="icon"><p>edit</p></button>


        </div>

         <div class="box-main">



         </div>
       


   </div> 
    
     <!-- 导航栏 -->

    <div class="nav"> 
        <button class="nav_inline">file</button>
        <button class="nav_inline">help</button>
         <!-- 这里可以添加更多的导航栏按钮 -->
    </div>

    <!-- 以下是左侧算法功能外部导入的js文件 -->
    <script src="{{ url_for('static', path='myscript.js') }}"></script>
    <script src="./myscript.js"></script>
     



</body>
</html>